
#topDescription{
    border:1px solid grey; 
    background-color: lightgray; 
    border-radius: 5px; 
    margin: auto;
    color: #333333;
    text-align: center;
}

.matchingButton{
    color:whitesmoke;
    background-color: #333333;
}

.groupBox{
    background-color: lightgray;
    display: block;
}

.topMessage{
    padding: 1%;
}

#createGroupDiv{
    background-color: lightslategrey;
    display: block;
}