#formDiv{
    width: 80%;
    margin: auto;
    margin-top: 10%;
    color: #ffd700;
    background-color: #0E0F0f;
    border: 1px solid #ffd700;
    border-radius: 5px;
    padding: 5%;
    text-align: center;
}

#createGroup{
    background-color: #0E0F0f;
    border: 1px solid #ffd700;
    color: #ffd700;
}

.styleBox{
    background-color: lightgray;
    vertical-align:middle;
}

.styleTitle{
    font-size: 1.3em;
}

.styleCheck{
    background-color: lightgray;
    text-align: right;
}