/* CSS for swipe • login.html */

.container {
    background-color: #0E0F0f;
    text-align: center;
}

img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.title {
    margin-top: 30px;
    color: gold;
}

body {
  background-color: #0E0F0f;
}

#firebaseui-auth-container {
  padding-bottom: 10%;
}